[2016-03-01 23:31] jpike88 opened #11 "Usability - Easy year selection"
For things like date of birth, there needs to be an easier way to choose the year.

I have been trying to place an up/down arrow next to the year, and having it increment or decrement the date by one year when pressed.

The problem is that I'm trying to have that talk to the calendar display to trigger an update so it can re-center over the new date. Any suggestions?

Modifications made:

Modified

[2016-03-04 19:00] dragondgold opened #12 "Clock looks horrible! Everything is messed up!"
I'm trying to use the date picker, I took the code from the examples and added it to my page:

[code]

But the clock looks really bad and also the buttons are on the top!

![capture2](https://cloud.githubusercontent.com/assets/2932540/13537140/3c911702-e222-11e5-9e64-4ba91471f343.PNG)

Any idea about what could be the problem?

[2016-03-06 08:31] logbon72 commented on #12
Please ensure you add all the necessary CSS files. angular-material.css and material-datetimepicker.css

[2016-03-06 17:18] dragondgold commented on #12
Yes, I have both files, angular-material.css and material-datetimepicker.css. angular-material.css is version `v0.9.0-rc3-master-f01afde`, is it ok?

[2016-03-06 18:16] logbon72 commented on #12
This project was developed on version `1.0.0-rc3` so please upgrade and see if it works.

[2016-03-07 01:43] dragondgold commented on #12
@logbon72 great! Working perfectly now! Thank you!

[2016-03-07 01:43] #12 closed

[2016-03-09 01:42] jpike88 commented on #11
With all due respect mate, I'm trying to make your project better. If you're going to make it open source, the least you could do is at least spend the 1-2 minutes to make a reply, so we can both benefit from it.

[2016-03-09 04:32] logbon72 commented on #11
Hey,

Sorry about that, thought I replied earlier. Please can you do a Pull Request for this?

Regards

[2016-03-09 04:34] jpike88 commented on #11
Ah good! Have a look at what I posted, I'm not proposing a pull request (yet), I'm asking how best to have the year increment function trigger a re-centering of the calendar view, as I don't want to screw up the structure you've laid out.

[2016-03-09 05:03] logbon72 commented on #11
This was what I had in mind. On Android, it comes up when you tap the year.
On 9 Mar 2016 5:34 a.m., "jpike88" notifications@github.com wrote:

[2016-03-09 05:10] jpike88 commented on #11
That seems to be quite a bit of work, although eventually it would be great if it did that.. but my method offers something fast, all it needs is one or two lines of code to allow the calendar update to trigger.

Do you see what my code is trying to do?

[2016-03-09 09:37] svi3c opened #13 "Cannot load module via npm"
I would like to load this module via npm.
If I run ```npm i``` There is some progress showing up, but I cannot find the package in my node_modules directory.
There are no errors flashing up.

I added this to my package.json file:
[code]

I'm not sure what is causing this.
Might it be the ignored pattern ```"/.*"``` in the [package.json](https://github.com/logbon72/angular-material-datetimepicker/b

[2016-03-09 21:27] jpike88 commented on #11
Any comments....????

[2016-03-10 05:19] jpike88 commented on #11
... did you actually read my first post?

[2016-03-16 05:50] jpike88 commented on #11
Based on a lack of responsiveness on a very simple question, I'm going to have to abandon this library, sorry.

[2016-03-16 07:33] sampathkumar7 opened #14 "Enable seconds selection"
How do i enable user to select seconds also.

[2016-03-19 16:00] tachyon-ops commented on #11
Hehh hard to produce open source these days. Anyway...

Completly 100% agree with the fact that year selection has been a crap, that's why I am searching for a good alternative (well... but since It's open source, I am thinking in changing the templates). Just wondering if anyone has done a pull request?

There seams to be something on the source code 'selectYearBefore' and 'selectYearAfter' is th

[2016-03-19 19:19] gr7egor7 opened #15 "Incorrect display of timepicker on internet explorer"
On Internet Explorer 11 timepicker shows empty clock face, I cannot pick the time.

[2016-03-19 19:38] logbon72 commented on #15
Hey, can you attach a screenshot ?

[2016-03-19 19:38] logbon72 commented on #14
Not sure this will happen soon, but I'll tag this as enhancement.

[2016-03-19 19:42] gr7egor7 commented on #15
Yes, sure :
![img_17032016_212832](https://cloud.githubusercontent.com/assets/16045693/13900949/18e02ae4-ee13-11e5-9558-ec8db4760003.png)

[2016-03-19 22:57] logbon72 commented on #11
@nmpribeiro this is from the Bootstrap version that was forked to create this plugin.

@jpike88 sincere apologies. I've been swamped with a lot of work lately.

[2016-03-20 01:27] jpike88 commented on #11
@logbon72 I appreciate your efforts. I am rooting for this library in the main Angular Material issues, I think that the only thing stopping it from being taken seriously is that it is presented in an md-dialog. For my use case, it doesn't bother me but I imagine it does for them.

I'm going to comment there and let them know that this handles year selection more easily and see their thoughts.

[2016-03-20 01:27] #11 closed

[2016-03-20 13:25] tachyon-ops commented on #11
@logbon72 cool. thanks mate!

[2016-03-23 17:20] Isaac6702 opened #16 "Internationalization"
Hi,

There a way to change the language of the months and days?

[2016-03-26 11:28] super-coder opened #17 "Demo layout messed up in IE 11 for 2 seconds"
if i open [official demo](http://logbon72.github.io/angular-material-datetimepicker/) in IE11 it looks like this for a couple of seconds
![image](https://cloud.githubusercontent.com/assets/2155554/14059767/b9108a0e-f345-11e5-9560-90ae7cd65701.png)

[2016-03-26 11:31] super-coder opened #18 "Time picker doesn't work in IE11"
![image](https://cloud.githubusercontent.com/assets/2155554/14059791/489edc98-f346-11e5-93a4-d88a8d7d9eda.png)

wow guys, you should test you stuff in IE. Half a planet is using it

[2016-03-26 12:16] super-coder opened #19 "year jumps to 2100 in IE11"
![image](https://cloud.githubusercontent.com/assets/2155554/14059980/9121f68e-f34c-11e5-8e08-420ee47b517b.png)

[2016-03-26 12:17] d668 commented on #19
open datepicker, click few times arrow down, then click on a date. The year jumps to 2100

[2016-03-26 12:19] d668 commented on #18
OK closing as there is already a bug https://github.com/logbon72/angular-material-datetimepicker/issues/15

[2016-03-26 12:19] #18 closed

[2016-03-26 16:08] logbon72 commented on #17
OK, I've not been able to lay my hands on IE browser to test these issues, but hope to soon.

[2016-03-30 23:04] benmalcom commented on #17
Please can you provide an option to have a default time selected?

[2016-03-31 14:53] logbon72 commented on #16
Hey,

Try the `lang` parameter of the directive, you can also see this PR: https://github.com/logbon72/angular-material-datetimepicker/pull/2

[2016-03-31 14:54] #13 closed

[2016-03-31 14:59] logbon72 commented on #17
@benmalcom there's already an option for that, a model with the time set. See the [demo](http://logbon72.github.io/angular-material-datetimepicker/) page for an example

[2016-04-02 12:47] benmalcom commented on #17
Thanks. Is there a way to reduce the delay time between when you tap the input and when the clock displays?

[2016-04-04 01:17] Isaac6702 commented on #16
excellent thanks

[2016-04-04 09:50] #16 closed

[2016-04-05 13:05] guilhermehbueno opened #21 "Performance issue after select dates"
Hi,

After select a date is taking almost 5 seconds to data be showed in the field.

It's an issue? A config?

[2016-04-05 13:19] guilhermehbueno commented on #21
Hi guys,

I think that isn't an issue. All it's great after restart my mac. Sorry.

[2016-04-05 13:19] #21 closed

[2016-04-06 20:42] ViDaNgEr opened #22 "ng-change is not supported"
it should support ng-change.
The workaround is to use a $watch.

[2016-04-07 05:50] liu-kanghui opened #23 "'startDate' is defined but never used"
I have used jslint   it throws me with this error

[2016-04-07 15:13] ViDaNgEr commented on #19
This bug also occurred in other browser (Tested with Chrome and Edge)

[2016-04-07 15:15] ViDaNgEr opened #24 "Deprecation warning with moment"
Deprecation warning: moment().add(period, number) is deprecated. Please use moment().add(number, period).

[2016-04-07 17:49] ViDaNgEr opened #25 "Cannot be used in a md-dialog"
The angular-material-datetimepicker cannot be used in a md-dialog because md-dialog cannot be nested yet.

https://github.com/angular/material/issues/698

[2016-04-11 03:46] iCoolchar opened #26 "moment is not defined"
I followed the steps here: https://www.npmjs.com/package/bower-webpack-plugin
And I run
`bower install angular-material-datetimepicker`
Add
`require("momentjs");`
`require("angular-material-datetimepicker");`
in entry.js
run
`webpack -d --watch`
everything is fine. But when I open index.html in the browser, it said
`Uncaught ReferenceError: moment is not defined`
I try the bootstrap demo in the ex

[2016-04-11 05:24] liu-kanghui commented on #26
I ran into the same probelm

I solved it by adding  this line  in my index.html file
`<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>`

[2016-04-11 08:40] iCoolchar commented on #26
But I use webpack to handle all the js to a bundle.js. And I don't want to especially add a line in the index.html. It's ugly and not reasonable.

[2016-04-12 09:45] lwj5 opened #28 "Possibility of returning string to model"
Not an issue but a suggestion

The date picker returns a date object or a moment object to the model and that makes it difficult to submit  through a form as compared to when it is a string.

e.g. if the ng-model="response". $scope.response in the controller should be a string (not an object).

The moment or date object is technically not needed. You can use parseDate and formatDate to convert str

[2016-04-13 04:21] patrickmichalina commented on #25
Yea :(

[2016-04-16 15:49] k3v3n commented on #22
Indeed. It could be great if ng-change was supported.

[2016-04-20 13:59] ducin opened #30 "npm package, ownership transfer"
Hello,

I don't use bower and I needed to use this package under npm. There was no npm package, but I can see package.json file, so I created it [here](https://www.npmjs.com/package/angular-material-datetimepicker). I will happily transfer the ownership if you tell me your logins.

Thanks for the plugin!

[2016-04-23 09:28] logbon72 commented on #30
My user  ID is logbon72

Regards

[2016-04-23 09:28] #30 closed

[2016-04-23 09:30] #15 closed

[2016-04-23 13:24] logbon72 commented on #26
Take a look at https://webpack.github.io/docs/shimming-modules.html it recommends how to use global variables. This plugin requires a window object called `moment` from momentjs.

I will assume from the documentation, you can solve this by doing:

[code]

If you have any other issues, consult with webpack folks

[2016-04-23 13:24] #26 closed

[2016-04-23 13:26] logbon72 commented on #19
Fixed by PR https://github.com/logbon72/angular-material-datetimepicker/issues/29

[2016-04-23 13:26] #19 closed

[2016-04-23 13:28] logbon72 commented on #28
Hey, not sure this will work. It's better the model is left as a date, that way it can be easily worked with.

[2016-04-23 13:28] #28 closed

[2016-04-23 13:28] logbon72 commented on #24
Thanks @ViDaNgEr !

[2016-04-23 13:28] #24 closed

[2016-04-23 19:09] #23 closed

[2016-04-23 19:14] ViDaNgEr commented on #25
We can close this one.  Fixed with PR #27

[2016-04-23 19:14] #25 closed

[2016-04-23 19:15] ViDaNgEr commented on #22
I will make a pull request probably next monday with the ng-change support

[2016-04-23 23:40] aoga88 opened #32 "When using in modal window has a delay"
It seems kind off heavy to load when using on a modal dialog, takes like 2, 3 seconds to display the clock.

As note, I'm using it with another services and angular templating in the page, that might be slowing it down.

[2016-04-24 15:05] ducin commented on #30
Ok, Joseph, now you should be an owner of the npm package too, https://www.npmjs.com/package/angular-material-datetimepicker. Thanks.

[2016-04-25 03:17] anthonyhadi opened #33 "How to config the background color"
Hi logbon72, This module is very good, I like it. However I want to change the default background color to match my app theme. Can you show me how to do that? Thank you.

[2016-04-28 05:36] OscarAgreda opened #35 "How to programmatically trigger the click"
Great directive, Thanks for sharing it

how you will hack the directive to allow keyboard support, lets say if i press Alt-H , want to popup this awesome date time picker.

angular.element(elmName).triggerHandler('click');
angular.element(elmName).trigger('click');

none of them work

[2016-05-03 16:42] NiroopGR opened #36 "Datetimepicker closing modals on which the input field recide"
This is a great plugin. I found a problem when the datetimepicker is triggered on a modal with a form, it closes the existing form and loads the picker rather than open over it like the material date picker does.

[2016-05-04 05:59] NiroopGR commented on #36
skipHide: true, is not updated in the installation file. I am able to get it if I clone the file. Kindly provide new version for installation with the following change.

[2016-05-05 15:53] dacasals commented on #36
I have the same error , i have a form inside a modal ,when i put datetimepicker  and click in the field, the modal close , how can i solve this problem, I not understand the last @NiroopGR comment.

[2016-05-06 05:11] NiroopGR commented on #36
https://github.com/logbon72/angular-material-datetimepicker/pull/27/commits/4b3ea0ad14b2b7bd531cd6622a904554b35bfd0b

@dacasals This solves the problem of opening the datetimepicker on the modal but another problem is that when you click cancel or close on the picker, the form modal closes instead of the picker.

[2016-05-06 13:01] dacasals commented on #36
@NiroopGR yep, you're right, the problem with the cancel button still persists with this solution, then I'm still waiting for a solution.

[2016-05-11 02:55] albertonaperijr opened #37 "Error: [$compile:multidir] Multiple directives"
Hi,

Thanks for this great lib!
This is my first time to use this lib and I'm encountering an error.
Here's the error on my browser's console: `Error: [$compile:multidir] Multiple directives [input (module: app), mdcDatetimePicker] asking for new/isolated scope on: <input mdc-datetime-picker date="true" time="true" type="text" id="datetime" placeholder="Date" min-date="date" ng-model="dateTime" />

[2016-05-11 09:25] patriceo commented on #35
Hi, I had also the same requirement. After reading the directive code, here is how I workaround this issue:
- First I wanted to hide the widget

`<md-input-container style="display:none;">
                                        <label>Job Start Time</label>
                                        <input mdc-datetime-picker="" date="false" time="true" type="text"

[2016-05-11 10:27] poojanbabu commented on #33
Hello logbon72,

Can you please tell us how to change the theme of datetime picker to match to that of the current theme being used?

Thank you.

[2016-05-11 17:02] johhansantana commented on #25
How to use it?

I currently have it like this:

[code]

and it closes my `md-dialog` after clicking on it.

**EDIT**
Well, it appears that the bower version doesn't have this feature yet. It works when I cloned this repository.

[2016-05-16 20:16] Isaac6702 commented on #33
Hello, I need also to know how to change the background color.
Thank you

[2016-05-17 11:23] dhaval85 commented on #33
Use the CSS to change the color. Override CSS as below.

.dtp div.dtp-date, .dtp div.dtp-time{
    background: red; /\* choose your color */
}

[2016-05-17 11:25] dhaval85 opened #39 "Support of Timestamp"
Hello Guys,

Really good job.

However I want to know is there any way that the output is being set as Timestamp (long) and not as a Date object?

Thanks,
Dhaval

[2016-05-17 14:05] Isaac6702 commented on #33
Thank you @dhaval85
following your idea then also I lacked this:
`.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: red;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: red;
}

.dtp .dtp-actual-meridien a.selected {
background: red;
}
.dtp .dtp-picker-time > a.dtp-select-hour.selected {
background: red;
}
.dtp .dtp-hand.on {
background: red;
}`

[2016-05-19 10:05] samirgit commented on #36
the datetimepicker is using $mdDialog, thats why it's closing other modals, in angular-material you cannot have more than one opened $mdDialog

[2016-05-19 15:28] rafaelmagalhaes commented on #15
Hi, I have the latest version and im still getting that issue on IE 11

[2016-05-21 20:17] otavioschwanck commented on #22
Please, i need ng-change =\

[2016-05-23 13:53] ngarrard opened #41 "Problem using "DD/MM/YYYY" format"
When specifying "DD/MM/YYYY" as format, the datetimepickers date becomes invalid and shows an empty input.
The value I use as date = "2016-05-23T11:20:21.7329621+02:00"

My findings:
Setting the format at line 115: scope.currentDate = moment(scope.currentDate, scope.format); in angular-material-datetimepicker.js, the m.isValid() at line 125 returns false.

[2016-05-24 11:28] rafaelmagalhaes opened #42 "Timepicker not displaying in IE 11"
Hi i have the latest version of angular material datetimepicker  but the time picker doesn't display correctly on IE 11,

![image](https://cloud.githubusercontent.com/assets/2240343/15502260/bced08b2-21aa-11e6-92df-83e5ccbecc6f.png)

[2016-05-25 08:46] vaughnmuirhead commented on #42
I'm encountering the same issue, have you found a workaround for this?

[2016-05-25 09:54] rafaelmagalhaes commented on #42
yeah i did, merge the version 1.4.1 you can find it in the commits, they haven't released that version yet

[2016-05-26 03:08] vaughnmuirhead commented on #42
Yep, version 1.4.1 seems to solve the issue. Thanks!

[2016-05-26 05:58] TejasCMehta opened #43 "How to get datepicker as always open no by clicking input?"
I want datepicker calender looks like

![image](https://cloud.githubusercontent.com/assets/5519037/15565002/fb70bae4-2334-11e6-8efa-2a72acad14e2.png)

[2016-06-02 14:57] veera23456 opened #46 "In using min-date and max-date attribute, while selecting date from other months from default selected date month, the calendar scrolls down to the bottom"
If i used min-date and max-date attribute,

while selecting date from other months from default selected date month, the calendar scrolls down to the bottom.

This is because of wrong value of md-top-index in mdcDatetimePickerCalendar directive.

In the line 563 of our js file, we update calendar.topIndex from currentMonthIndex method alone.

var index = currentMonthIndex(nDate);

[2016-06-08 07:22] amittkSharma opened #48 "Usage of old version of moment.js"
Hi Logbon,

This is a very nice and interactive module. But currently the one of it's dependency (Moment.js) is too old to be utilized. As moment.js updated some of their APIs.

Please update the package with suitable version.

[2016-06-12 10:05] sagarrakshe opened #49 "Datetime picker modal picks time in UTC"
In the input box the date time is shown as `2016-06-12 14:10:00` but when I click on the input box to open the datetime picker modal, the time is shown in UTC (in my case UTC-5:30).
So it shows `08:40`. How to fix this?

[2016-06-15 13:54] bennekrouf commented on #26
I managed the issue by adding in web pack conf

[code]

[2016-06-22 15:45] facuxt commented on #14
+1 i need this too.. this component looks amazing!

[2016-06-27 08:55] olegdemkovych opened #50 "Wierd position"
I have wierd position when open the datetime modal (Appended to top).
http://take.ms/WRLQ6

[2016-06-28 10:21] mvaullerin commented on #32
+1

[2016-06-28 18:53] mgween commented on #50
+1

I am also experiencing this issue. The dialog opens near the top of the page instead of near the input.

[2016-06-28 21:15] HamzaJridi opened #51 "Change the DateTimePicker Display Language"
can I display the dateTimePicker with the french language?
 I used the angular-i18n library but it won't work...any help please!!!

[2016-07-01 09:24] e-500 commented on #49
I've obtained the result modifing the code as follow:

`
angular.module(moduleName, ['ngMaterial'])
    .provider('mdcDatetimePickerDefaultLocale', function () {
      this.locale = window.navigator.userLanguage || window.navigator.language;

[code]

[2016-07-02 20:01] umair-khanzada opened #55 "save only time in model"
Hi,
there is any way for store only time value in ng-model ?

[2016-07-14 18:53] tekand commented on #22
Created pull request for this issue. #57

[2016-07-14 21:41] Reedyseth commented on #33
I also have to add styles for this classes to have it fully working:

[code]

[2016-07-18 11:50] oleg-demkovych commented on #50
Fixed. Need main structure like:

[code]

[2016-07-18 11:50] #50 closed

[2016-07-27 14:06] pmccorison opened #58 "Inputs are not bluring after selection is made"
The md-input-focused class is not being removed from the input-container after the selection is made, which is causing visual inconsistencies on the page after a change has been made to a date field.

[2016-07-29 20:42] agyrafa commented on #55
@umair-khanzada  did you managed to do this?

[2016-07-31 08:05] watat83 opened #59 "DateTime popup not displaying properly (CSS Not loading)"
I have tried to integrate your library into my app, but unfortunately the css is not loading properly. When the popup load the css is not being applied to it. I even made sure that the CSS for the popup was loading before bootstrap.
Should I also include other files such as: [beautifier.js](http://jsbeautifier.org), and [highlights](https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlig

[2016-08-01 05:57] umair-khanzada commented on #55
you can apply custom filter.
Or
`var time = new Date().getTime()` and apply time filter.

[2016-08-01 14:14] agyrafa commented on #55
thanks, i got it :)

[2016-08-01 16:43] umair-khanzada commented on #55
my pleasure

[2016-08-05 15:47] MADavies opened #60 "Closes already open popups when coming to for front of the screen"
The datetime picker is being called from another modal popup and is forcing the original popup to close stopping me from returning to the original popup to continue what i was doing. Would it be possible to add a skipHide:true to the date time picker popup modal or some other method to stop the pop up from prematurely closing the parent modal popup?

[2016-08-08 12:36] Dunos commented on #22
When is this going to be added??

[2016-08-11 00:34] VickeyC commented on #59
I had the same problem, then I discovered that I was missing the "rel=stylesheet" clause in the datetimepicker.css link.   Maybe this will fix your problem also.

[2016-08-11 02:36] captainmorgan0 opened #61 "How to set the minDate as a string?"
I'm trying to set the minDate as a string in the HTML. I've tried:
min-date="2016-08-10"
But this doesn't work. Should it be a different format?

[2016-08-14 15:18] bora89 commented on #22
+1

[2016-08-17 10:18] Napster2210 commented on #33
Hello guyz,

I have added below classes to override default theme, which will convert green theme(default) to blue theme.
![capture1](https://cloud.githubusercontent.com/assets/17761063/17732939/d785bcda-6491-11e6-9598-ae8a0b5337c7.PNG)
![capture2](https://cloud.githubusercontent.com/assets/17761063/17732970/fa112690-6491-11e6-9655-7cf8219ab2e0.PNG)

[code]

[2016-08-17 15:07] Reedyseth commented on #33
At the end I ended up using Angular Strap TimePicker because this module does not let you pick the seconds, already requested https://github.com/logbon72/angular-material-datetimepicker/issues/14 though.

[2016-08-19 06:35] stephengardner opened #62 "Suggestion: Use without a popup!"
This would be fantastic if we could use it without the popup feature.  For example, the Bootstrap UI datepicker will simply display the calendar as-is.

Has anyone suggested this or is there a PR in progress?  Nice module

[2016-08-20 12:34] ceetee commented on #41
I was able to get formatting working correctly by changing line 115 to
 `scope.currentDate = moment(scope.currentDate).format(scope.format);`

[2016-08-20 15:22] michal-th commented on #62
+1

would love to see the option of using this amazing calendar embeded in a view, without a use of mdDialog!

[2016-08-22 06:53] hemantvikram opened #63 "Clear Date"
Hi,

How can I clear the date from the input field?

Thanks,
Hemant.

[2016-08-24 17:58] avarnell commented on #22
++

[2016-08-27 07:02] nirmal-solanki opened #64 "Is this working in md-dialog box?"
Is this working in md-dialog box?
I want to used  angular-material-datetimepicker in mg-dialog box.
But, mg-dialog box close when angular-material-datetimepicker time/date picker open.

there is any way to use angular-material-datetimepicker in mg-dialog box?

[2016-08-30 02:52] ljcljc commented on #51
Did you solve this problem? I am facing the same issue.

I found 'picker.param.lang' variable in the source code, and I use
`<input mdc-datetime-picker date="true" time="false" type="text" id="date" short-time="true" class="value" lang="zh-CN">`

But it still does not work.

[2016-09-01 03:12] zjda commented on #63
Same question here.  Also, want to have Today button.

Thanks,
-ZJ

[2016-09-01 10:44] zainul-realtime opened #65 "How to make 23:59 , in minute not only 5x minutes"
Hi can i know how to make 00:59 minute not only multiple 5 minutes , can any options to config this requirement  ?

Thank you

[2016-09-08 21:37] tigrus commented on #62
+1

[2016-09-13 13:41] helmut-hoffer-von-ankershoffen commented on #64
cp. http://webiks.com/mddialog-with-a-confirmation-dialog/

[2016-09-15 11:39] rafaelmagalhaes opened #66 "how can i keep current date highlighted, when i choose different date"
there should be an indication on the calendar regarding what date it is today (e.g. a circle around the current date). Currently, current date is circled only right after the calendar is opened, and disappears when I click on another date

[2016-09-21 20:25] EricDosReis opened #68 "Outdated bower repository"
$mdDialog option 'skipHide: true' is not setted in the Dialog config object. This option allows the datetime picker dialog open above another dialog.

Another interesting config is 'clickOutsideToClose: true', this option allows the dialog is closed when clicked outside or when escape key is pressed.

[2016-09-22 19:16] amunoz20 commented on #58
If you're still interested in this, I made a workaround to override the style of the input when it has a value. To make it work you also need the ngClass statement in your DOM element like this:

[code]

[code]

Unfortunately you have to use the "!important" value otherwise it will not override the styles.

Ofcourse you will need the do the same to create an error style if you have extra validatio

[2016-09-23 09:47] mandadimuralidharreddy commented on #25
@jsantana90  you should bower master branch  then it will resolve.

[2016-10-03 17:22] chenav commented on #24
Hey, I can not find the merge branch ( v.1.4.1) on npm. Could you please release it, in order to make it available via bower install ?
Cheers, mate

C.

[2016-10-04 13:25] lakshaybansal commented on #51
Same Issue ?Is the Issue solved?

[2016-10-04 13:39] kniort commented on #51
Hello everyone,

I have the same issue, I just want to display the component with the french language but it doesn't work, it's only display in english
Here is my code :
<input mdc-datetime-picker="" date="true" time="true" name="startDate" lang="fr" type="text" id="date time"  placeholder="Date d'ouverture du concours" ng-model="startDate" max-date="endSubmitDate"  class=" md-input" required>
Any

[2016-10-04 13:52] ljcljc commented on #51
Guys. I have solved this issue.

You need to specify the language code like I did previously. And also include the moment local js file.

In my case, it's momentjs/locale/zh-cn.js for Chinese language.

[2016-10-04 13:59] kniort commented on #51
Thanks a lot ljcljc it works like a charm !

[2016-10-05 14:07] lakshaybansal commented on #33
I want to change the background-color of the time according to the theme configured in my app using $mdThemingProvider.Very Good Module.Just this Thing I need.

[2016-10-07 07:24] huangjun604 opened #70 "disableParentScroll will impact the display of the dialog"
Using `disableParentScroll: false` will make the display of dialog incorrect at latest version of Angular Material

Demo: http://codepen.io/anon/pen/VKQWGO

If you change the version to old one, such as `1.7.1`, it is correct

[2016-10-12 09:02] theRichu commented on #60
+1

[2016-10-12 13:11] lakshaybansal commented on #51
Hi,
The solution which u gave is not working .Can u please share the exact changes with files also.

[2016-10-12 22:57] bmwertman opened #71 "Month scrolling not working on touch screen"
I had this working previously on my ionic application. I confirmed this is only on mobile by running ionic serve to run the application in my Mac's Chrome browser. See screenshots below.

Desktop
![screen shot 2016-10-12 at 6 50 17 pm](https://cloud.githubusercontent.com/assets/2573903/19330561/27e01918-90ad-11e6-928c-9b7cdef0e5b0.png)

Mobile Android device
![screenshot_2016-10-12-18-50-37](https

[2016-10-13 01:41] huilianyi commented on #51
Well. I believe I made it clear before.
There is something wrong with your code. If you could post your code, I may help you to find the problem.

[2016-10-13 08:24] mandadimuralidharreddy commented on #64
using master branch it will work. Latest updates are yet published in bower.

[2016-10-13 09:50] mandadimuralidharreddy commented on #36
bower this
    "angular-materialDatetimepicker": "https://github.com/logbon72/angular-material-datetimepicker.git#46091900cbd0291504297e7b89cd901848de4c94",

[2016-10-14 06:43] lakshaybansal commented on #51
Hi,
The solution which u gave is not working .Can u please share the exact changes with files also.

[2016-10-14 06:46] lakshaybansal commented on #51
<md-input-container>
<input mdc-datetime-picker=""
 date="true"
 time="true"
 id="datetime"
 placeholder="{{dateTimePickerCtrl.label}}"
 min-date="dateTimePickerCtrl.specificAttr.minDate"
 ng-model="dateTimePickerCtrl.bindData"
 ng-change="dateTimePickerCtrl.reflectValue(dateTimePickerCtrl.bindData)"
 class="md-input"
 ng-class="md-primary"
 lang="zh-cn">
</md-input-container>
I am applying this t

[2016-10-19 09:56] sebastiendan commented on #15
Any updates on this?

[2016-10-20 04:02] lakshaybansal opened #73 "How can I remove the minutes selection from the current date time picker"
It is great directive.But I want the user to only select the date and hour.Not minutes.Please solve this problem.

[2016-10-21 06:36] phamtuananh791994 commented on #22
+1

[2016-10-21 08:17] phamtuananh791994 commented on #33
@Napster2210 , you missing **.** at the begin

[code]

[2016-10-21 09:13] Filson14 commented on #22
+1

[2016-10-26 12:22] brenolf commented on #51
The solution provided by @lakshaybansal did work for me. You should include Momentjs's locale `.js` file.

[2016-10-31 17:59] marciogurka opened #74 "Type date instead of open a modal"
Is there a way to choose type a date instead of automatically open a modal when the input get focused???  Like have a button side-by-side in a input, and the modal opens when the users click that button, but if the user prefer, he can type manually a date/time (like using a directive to mask or something like that)?

[2016-10-31 18:56] fabio-barboza opened #75 "Modal inside another modal"
Greetings,

Is it possible to add this parameter "skipHide: true" in the $mdDialog.show call?

              $mdDialog.show({
                  template: template,
                  controller: PluginController,
                  controllerAs: 'picker',
                  locals: locals,
                  openFrom: element,
                  parent: angular.element(document.body),

[2016-11-12 12:40] amittkSharma opened #76 "Disable set of continuous and non-continuous dates in calendar"
Is it possible to disable a set of continuous and non-continuous dates in the calendar, as not available dates for selection?

[2016-11-12 23:40] amittkSharma commented on #76
this branch contains the fix

amittkSharma:feature/disable-certain-setofdates

[2016-11-14 15:02] Owizardo commented on #60
Having this exact issue, which is breaking my form design +1

[2016-11-17 17:21] blaszek222 commented on #60
+1

[2016-11-17 17:23] blaszek222 commented on #75
I think this is the duplicate of #60

[2016-11-17 17:24] blaszek222 commented on #74
+1

[2016-11-17 17:31] blaszek222 commented on #66
+1
There should be something like angular material datepicker component has:

![nowy obraz mapy bitowej](https://cloud.githubusercontent.com/assets/15659955/20400193/08862bb2-acf4-11e6-9cc4-ac4ad2c4dc25.png)

[2016-11-17 18:02] blaszek222 commented on #36
still doesn't work after bowering

[2016-12-01 01:42] robert-sutton commented on #22
+1

[2016-12-01 02:12] tekand commented on #22
@logbon72 can you please merge my pull request?

[2016-12-07 12:55] dunice-potapov opened #78 "There is a conflict with Angular Material v1.1.1"
Hello,

I'm trying to install it via Bower and I have an issue
[code]

I'm using Angular Material v1.1.1.

Could you please provide instructions how to resolve it?

Thanks,
Alexander

[2016-12-07 13:01] CaptainYouz commented on #65
Hi,

any update on this one ?

[2016-12-10 12:31] MUNEERALNAJDI commented on #60
yes, you can by using css
<style>
.md-dialog-container{ z-index: 9999;  }
</style>
 befor input

this way works with me

[2016-12-10 13:24] MUNEERALNAJDI commented on #51
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>

this file include

example input

` <input   lang="ar-tn"
`
to get location code please search inside moment-with-locales.min.js with your langage

[2016-12-14 23:34] alobban commented on #25
skipHide isn't working. Was this feature released into the wild on v1.4.0?

[2016-12-17 22:01] the1drewharris commented on #63
Same question here. Just need a way to clear the date back to null.

[2016-12-20 06:40] PowerKiKi commented on #78
This should be solved by https://github.com/logbon72/angular-material-datetimepicker/pull/79

[2016-12-23 21:11] MaelstromCdn opened #80 "Not compatible with Angular 1.6.x"
A project that was working fine on 1.5.9 fails to open the date popup on 1.6.1. The following error is generated in the console:

TypeError: Cannot read property 'params' of undefined
    at new controller (http://localhost:3000/node_modules/angular-material-datetimepicker/js/angular-material-datetimepicker.js:523:34)
    at Object.invoke (http://localhost:3000/node_modules/angular/angular.min.js:

[2017-01-03 07:03] mingaila commented on #80
Same here. Anyone found solution?

[2017-01-04 14:03] pmccorison commented on #80
Something with the two-way bindings between the md-dialog and the directive they have defined is not hooking up correctly with the latest update. Not sure if this is an angular problem with the update, or if the way the plugin is utilizing bindToController in this context is incorrect. As a result, the picker scope variable is not being passed to the child directives scope which is bound to the co

[2017-01-19 17:01] franklloydteh opened #81 "Single click to select tme"
An option to use single click on the hour then single click on the minute

[2017-01-20 06:02] pmaganti commented on #80
Accessing through parent scope is working fine and a temporary fix.

We generate builds automatically and changing that line after build is hard to do everytime especially running on dist.

[2017-01-24 11:11] tugrulelmas opened #82 "jQuery is not a function"
I don't use jQuery but I use a chrome extension that adds a jQuery property as undefined on `window`. There is an [if condition](https://github.com/logbon72/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L12) to determine whether jQuery is installed. There is no check to see if jQuery is undefined. That's why the `jQuery is not a function` error occurs when jQu

[2017-01-28 23:17] mikepsinn commented on #32
Me, too.  Any suggestions would be greatly appreciated!  :D

[2017-01-30 15:42] mikepsinn opened #84 "On iOS, minute selection dialog window automatically closes right after pressing OK on hour selector dialog"
I'm using version 1.4.0. I can't reproduce on Android on the web version.

Here's the code:

[code]

[2017-01-31 19:54] alobban commented on #74
I would love to have the option to type in date-time or select date-time from the modal.
Is there a PR for this?

[2017-01-31 19:57] alobban opened #85 "Suggestion: Type Date Time Option"
The ability to type in the date-time instead of being forced solely to use the picker. Some users find it faster to type in the values than having to pick it.
Any PRs?

[2017-02-01 21:55] hexadecy commented on #78
Also solved by #34
But I prefer to use yarn than bower.

[2017-02-03 14:47] sandeepzgk opened #86 "Error when using the component with angular 1.6.1"
TypeError: Cannot read property 'params' of undefined
 at new controller (angular-material-datetimepicker.min.js:formatted:418)

[2017-02-03 14:48] sandeepzgk commented on #86
sorry duplicate of issue #80

[2017-02-03 14:48] #86 closed

[2017-02-03 15:08] sandeepzgk commented on #80
Please note that the fix suggested by @pmccorison works only with the unreleased version (if you are using it from release version 1.4.0) it would be different.

[2017-02-04 15:16] #22 closed

[2017-02-04 18:50] logbon72 commented on #82
jQuery dependency has been removed.

[2017-02-04 19:34] logbon72 commented on #35
Latest version has `mdcDateTimeDialog`  which can be used to display dialog without an input. It returns a promise which is resolved with the selected date.

[2017-02-04 19:34] #35 closed

[2017-02-04 19:34] #82 closed

[2017-02-04 19:35] #80 closed

[2017-02-04 19:36] #55 closed

[2017-02-04 19:36] #78 closed

[2017-02-04 19:37] #33 closed

[2017-02-04 19:38] logbon72 commented on #39
You'd have to use the Moment format `format="X"` for this as input format.

[2017-02-04 19:38] #39 closed

[2017-02-04 19:40] logbon72 commented on #46
Fixed in most recent release.

[2017-02-04 19:40] #46 closed

[2017-02-04 19:41] logbon72 commented on #48
- Already updated in most recent release.

[2017-02-04 19:41] #48 closed

[2017-02-04 19:41] logbon72 commented on #43
Unfortunately, this plugin is designed to be used as a dialog.

[2017-02-04 19:41] #43 closed

[2017-02-04 19:42] logbon72 commented on #76
Thanks, PR merged.

[2017-02-04 19:42] #76 closed

[2017-02-04 19:44] #60 closed

[2017-02-04 19:44] logbon72 commented on #75
Fixed in most recent update.

[2017-02-04 19:44] #75 closed

[2017-02-04 19:45] logbon72 commented on #36
Fixed in recent update

[2017-02-04 19:45] #36 closed

[2017-02-04 19:49] logbon72 commented on #85
You can disable the dialog for an input and use a button, alongside the `mdcDateTimeDialog` service to display dialog.

Somewhere on your page, you have:

[code]
Then in your controller:

[code]

[2017-02-04 19:51] logbon72 commented on #74
See the comment here: https://github.com/logbon72/angular-material-datetimepicker/issues/85

[2017-02-04 19:51] #74 closed

[2017-02-04 19:53] logbon72 commented on #68
This has been fixed in recent release.

[2017-02-04 19:53] #68 closed

[2017-02-04 19:53] logbon72 commented on #64
Please use v1.5.x

[2017-02-04 19:53] #64 closed

[2017-02-04 19:54] logbon72 commented on #63
Today button has been added in most recent release, to clear, date, please add another button outside dialog to set model to null. Won't want to have too many buttons on the dialog.

[2017-02-04 19:54] #63 closed

[2017-02-04 19:55] logbon72 commented on #37
Can't replicate.

[2017-02-04 19:55] #37 closed

[2017-02-04 19:56] logbon72 commented on #41
- Fixed in most recent update.

[2017-02-04 19:56] #41 closed

[2017-02-04 19:57] logbon72 commented on #51
Will include solution in README.md

[2017-02-04 19:57] #51 closed

[2017-02-04 20:00] #42 closed

[2017-02-04 20:04] logbon72 commented on #49
Thanks for the suggestion, this will be added in subsequent release.

[2017-02-04 20:04] #49 closed

[2017-02-04 20:04] #59 closed

[2017-02-06 10:03] EricDosReis commented on #68
Thanks dude!

[2017-02-07 05:08] hexadecy commented on #17
Tested with IE11, the [demo page](http://logbon72.github.io/angular-material-datetimepicker/) have scripts loaded at the end of the body. I prefer to load them in the head, this way it seems faster with IE.

[2017-02-07 05:43] hexadecy commented on #32
I think it's now faster since this commit 0714a75ffd894b1f54f547b33e0da4e728092c24 or release v1.5.0

[2017-02-07 05:47] hexadecy commented on #66
Since release v1.5.0 you have to add **show-todays-date=""** attribute.

[2017-02-07 06:21] mikepsinn commented on #32
Thanks, @hexadecy !  Looks like a lot of great changes in that merge.

[2017-02-07 18:06] tugrulelmas commented on #30
Hi @ducin,
Cold you update npm package? Thanks.

[2017-02-07 21:06] hexadecy commented on #84
Cannot reproduce it on an iPad Mini4 with iOS 10.2 and angular-material-datetimepicker 1.5.1

[2017-02-07 21:16] hexadecy commented on #61
Browser support for parsing strings is inconsistent.
Try with moment.

[code]

`$scope.minDate = moment("2016-08-10");`

https://momentjs.com/docs/

[2017-02-07 21:25] hexadecy commented on #70
It's a behavior of Angular Material dialog service. 0.7.1 vs 1.1.0 vs 1.1.1
@huangjun604 I don't see how it's related to this datetimepicker?

[2017-02-07 21:28] hexadecy commented on #71
@bmwertman can you retest with angular material 1.1.1 and angular-material-datetimepicker 1.5.1

[2017-02-07 21:33] hexadecy commented on #58
This should be an enhancement.

[2017-02-08 04:01] hexadecy commented on #30
Hi @tugrulelmas, maybe it was a merge mistake but my npm registry was added in the readme of this repo.
https://www.npmjs.com/package/ng-material-datetimepicker

I planned to be at least in sync with logbon72.

[2017-02-08 06:12] huangjun604 commented on #70
Hi @hexadecy , thanks for your response.

https://github.com/logbon72/angular-material-datetimepicker/blob/master/js/angular-material-datetimepicker.js#L182

the `datetimepicker` plugin uses the `disableParentScroll: false` on above link, and we cannot modify it. So it would cause the display error by using this plugin with higher angularjs

[2017-02-08 12:31] hexadecy commented on #70
Ok maybe you can make a PR for that, by adding a directrive attribute like `parent-scroll=Boolean`.

[2017-02-10 19:06] saboehnke opened #90 "Pop up takes full width of the screen and clock is on left side of screen"
Has anyone run into an issue with the dialog taking the full width of the screen along with the clock being pulled all the way to the left side? I thought it would be a css issue but changing anything that would seem relevant in dev tools doesn't seem to be of any help.

[2017-02-12 09:32] mohammadkhoeini commented on #81
+1

[2017-02-12 09:36] molikh opened #91 "problem with rtl website"
when web page default direction is rtl this problem comes up
![capture](https://cloud.githubusercontent.com/assets/11052733/22861028/c1d3a7d4-f123-11e6-832f-24b293b6873e.PNG)

i fix this with this css change
.dtp div.dtp-picker-clock {
    margin: 10px 20px 0 20px;
    padding: 10px;
    border-radius: 50% !important;
    background: #eee;
    direction: ltr;  // this one
}

result:
![capture](htt

[2017-02-15 17:13] #90 closed

[2017-02-16 12:33] hexadecy commented on #90
No

[2017-02-22 03:20] hexadecy commented on #91
@molikh Is it ok?
Add to material-datetimepicker.css:
[code]

Set in your app.js:
`document.documentElement.dir = "rtl"`
or
`<html dir="rtl">`

[2017-02-22 04:21] hexadecy commented on #70
@huangjun604 can you try it?

[2017-02-23 04:41] hexadecy commented on #73
@lakshaybansal can you try in my fork?

[2017-02-24 04:47] hexadecy opened #93 "Collaborators"
Great project
Do you want some help keeping this repo up-to-date?

- Like updating the [npmjs](https://www.npmjs.com/package/angular-material-datetimepicker)
- Merging some pull request
- Closing issues
- Making a request for cdnjs
- New cool features

[2017-02-24 12:25] trinvh commented on #62
You can use service instead of built-in directive. References to https://github.com/logbon72/angular-material-datetimepicker/issues/85

[2017-02-24 13:46] PizzaPokerGuy opened #94 "Blank Days and Months"
When using this library the dates are not showing up in the date time picker.
The mdVirtualRepeat for some reason is getting commented out.

[2017-02-25 04:19] hexadecy commented on #94
Which version are you using?
`'<div md-virtual-repeat="idx in ::cal.months" md-auto-shrink md-item-size="' + ITEM_HEIGHT + '">' +`

[2017-02-28 03:29] hexadecy opened #95 "Month buttons"
Feature:
The user want to click for Previous month or Next month without scrolling.

[2017-03-03 08:29] fabienbranchel opened #96 "minDate and maxDate mixed up"
When we use two datetimepickers on same page, minDate and maxDate are mixed up.
You can test it on your demo, in the DateRange Example : https://logbon72.github.io/angular-material-datetimepicker/

1. Select a start date.
2. Reopen the start date : all is ok
3. Open the end date : we can't select date before start date, all is ok
4. Select the end date.
5. Reopen the start date : we can't select a

[2017-03-03 23:11] hexadecy commented on #96
As a workaround you have to set undefined attribute min-date or max-date.
min-date="null"
Not sure it's the best solution...

[2017-03-05 20:17] hexadecy commented on #96
@fabienbranchel can you test in my fork?

[2017-03-06 09:55] fabienbranchel commented on #96
@hexadecy thank you, seems to work ;-)

[2017-03-06 10:01] #96 closed

[2017-03-06 17:28] ghost commented on #94
Which version are you using?
I have the same problem since a few days, we have used the datepicker several months but suddenly it broke, I tried to change the versions, but it continues without working

angular-material: "1.1.1",
angular-material-datetimepicker: "1.4.0"

angular-material: "1.1.3",
angular-material-datetimepicker: "1.5.1"

[2017-03-06 19:10] hexadecy commented on #94
I never had this issue, are you installing with bower, npm or yarn?

angular-material-datetimepicker 1.5.1
But npmjs is not up-to-date : https://www.npmjs.com/package/angular-material-datetimepicker
https://github.com/logbon72/angular-material-datetimepicker/blob/master/js/angular-material-datetimepicker.js#L726

my fork with all the PR merged: ng-material-datetimepicker 1.5.10
https://www.npmjs.c

[2017-03-07 12:30] #95 closed

[2017-03-12 14:34] najiJazzar opened #97 "Error injecting to module"
when I add 'ngMaterialDatePicker' to module like this :

`angular.module('myApp', [ ... ,  'ngMaterialDatePicker' ...  ])`

the following error occurs :

[code]
I use angular 1.6.2
any help ??

[2017-03-13 05:10] hexadecy commented on #97
And your index file? There is no unminified files in dist.

[2017-03-13 08:38] najiJazzar commented on #97
I checked my index file and noticed that the unminified files weren't loaded
I've installed the package using bower
 `bower install angular-material-datetimepicker --save`

And everything worked fine, thanks for your note. :+1:

[2017-03-13 08:38] #97 closed

[2017-03-23 05:30] adirizky54 opened #100 "Value its not same with input"
When i'm input 12/12/2016 the value from that input was "2016-12-12T05:23:00:000Z"
Sorry, bad english

[2017-03-23 05:58] hexadecy commented on #100
In the demo for the ng-model it's the current date-time:
`$scope.date = new Date();`

For your case, use something like this:
`$scope.date = moment().startOf('day');`

[2017-03-23 06:10] adirizky54 commented on #100
Thanks its work, but if i change date. The result is same as before

[2017-03-23 20:40] hexadecy commented on #100
Ok this seems to be an issue then:
https://github.com/logbon72/angular-material-datetimepicker/blob/master/js/angular-material-datetimepicker.js#L142

I think we should add:
[code]

[2017-03-26 00:33] gaharrington opened #101 "How to set minutes?"
I can not figure out how the user sets the minutes? I see the minutes hand, but can't set it.

(I tried to find documentation on this, but could not find it.)

[2017-03-26 00:40] gaharrington opened #102 "How to theme?"
Is there any documentation for how to color/theme the datetimepickers?

[2017-03-26 01:41] hexadecy commented on #102
Redefine some background and color and include them in a .css after material-datetimepicker.css
[code]

[2017-03-26 01:44] hexadecy commented on #101
You can only set minutes by jump of 5 minutes.

[2017-03-26 02:10] hexadecy commented on #100
@adirizky31 are you using the mdcDateTimeDialog?
I've played with the demo, when the time is set before.
It will not move after, when there is no clock picker at least.

[2017-03-26 13:19] gaharrington commented on #102
I used your approach successfully. Thank you @hexadecy!

I restructured it slightly, for simpler maintenance in my custom .css:
[code]

I would like to contribute a solution that is  easier to override and documented. Would you accept a  pull request for that contribution?

My first thought is to restructure the css usage to include classes:
[code]
Would do you think of that approach?

[2017-03-26 13:25] gaharrington commented on #101
I think my question wasn't clear.

Where/how does the user click to set the minutes? (I can click the hour numbers on the clock face to set the hours, but clicking on the minute hand does nothing.)

(I tried to find documentation on this, but could not find it.)

[2017-03-26 22:57] hexadecy commented on #102
Yes you can submit a PR here
`.dtp-primary-color
.dtp-accent-color`

[2017-03-26 23:13] hexadecy commented on #101
Currently, you cannot click directly on the minute hand.
1. Click on the hour numbers two times
2. Then click on the minute numbers two times

You can also click once and ok.
This issue have been reported in our software as too many clicks to set time.
Also similar to issue #81

[2017-03-27 10:04] vivekrc commented on #81
+1

[2017-03-27 21:01] vivekrc commented on #94
Use the following CDN's to solve the issues

[code]

[2017-04-05 13:33] jekcom opened #104 "Locale issue"
When switching locale language in real time the calendar is translated but the date in the textbox is not being translated.
first i do
` moment.locale('en');`
then switching to french
` moment.locale('fr');`

Notice the textbox on the right is not beeing translated

![untitled-1](https://cloud.githubusercontent.com/assets/4057992/24707769/8d5c4006-1a1d-11e7-9b80-73479a333b59.png)

[2017-04-06 04:42] hexadecy commented on #104
Yes, it's because the format is a moment format.
When we set `moment.locale('fr')`, it will affect only the next time we use moment.
Maybe we could do something with https://github.com/urish/angular-moment

[2017-04-06 07:12] sachilaRanawaka opened #105 "disable weekends from the calendar"
how can I disable certain days in the calendar?  As an example, i want to disable all the weekends.
here is my code

<input time="false" date="true" mdc-datetime-picker type="text" id="date" placeholder="Date" ng-model="date" min-date="minDate" max-date="maxDate" disable-dates="dates">

[2017-04-06 08:18] nicooga opened #106 "´disableDates´ it's not documented"
I see the code from @amittkSharma that enables the option ´disabledDates´ it's merged, but the docs seems to have been overwritten since there's no reference to the option in the README (https://github.com/logbon72/angular-material-datetimepicker/issues/76).

Would be good to have this documented.

[2017-04-07 04:19] hexadecy commented on #106
`| **disable-dates**	| Date[]						| Dates to be disabled or not selectable by user.|`

[2017-04-07 04:25] hexadecy commented on #105
Current implementation is for specific date object in an array:
[code]

[2017-04-10 05:41] mohammadkhoeini commented on #91
@hexadecy no it's not.
there is 3 way to specify direction.
1- use dir="rtl" on html ( your solution only fix this)
2- use dir="rtl" on body tag ( i use this )
3- use css direction="rtl" ( can be used anywhere)

so your solution dosent fix problem in all kind of directions

ty for your response

[2017-04-11 03:26] hexadecy commented on #91
Your fix was better.

[2017-04-16 05:30] #91 closed

[2017-04-17 14:08] hexadecy commented on #81
@franklloydteh @molikh @vivekrc can you have a look at my [beenote](https://github.com/beenote/angular-material-datetimepicker) branch?
I have but an option (auto-ok="true") to select date and time with one click.

[2017-04-27 03:06] hexadecy opened #107 "Full 24-hour clock face"
I think it's a must have.

[2017-04-27 03:30] hexadecy commented on #65
The quickest solution will be having a plus and minus button.
Is it enought?

[2017-04-27 03:35] hexadecy commented on #14
What is the use case of this?
You want a new dial with seconds in increments of 5 or less?

[2017-04-30 03:35] hexadecy commented on #85
The thing missing is how to format the input without the directive.
I used type="date" for the example, it works but not for "datetime".

[2017-05-10 09:51] sterichards opened #108 "Change colour scheme of the date/time picker"
How is it possible to change the colour scheme?

[2017-05-15 03:06] hexadecy commented on #108
check #102

[2017-05-15 03:19] hexadecy commented on #71
@bmwertman there is no scroll bar, but I can scroll it up and down on Android 7, Ionic 1.3.3, ng-material-datetimepicker 1.6.2, angular 1.5.3, angular-material 1.1.4

[2017-05-25 07:20] bhargavmullakuru opened #109 "date picker months list is blank ...!"
the months list in date picker is blank ..pls help with this issue
![timepicker](https://cloud.githubusercontent.com/assets/26109320/26440177/be044f26-4148-11e7-9f0e-5cbb925d1f98.png)

[2017-06-02 12:32] #108 closed

[2017-06-02 18:56] gaharrington commented on #101
Is it possible to set the hour/minutes/period in code? I have tried:
`                vm.jsDate.setHours(vm.hour);
`
[code]

[2017-06-03 04:11] hexadecy commented on #109
@bhargavmullakuru first, double check the [demo](https://github.com/logbon72/angular-material-datetimepicker/blob/master/index.html).
Then, what dependencies/version are you using?
Browser?
OS ?
Code example please...

[2017-06-03 04:26] hexadecy commented on #101
@gaharrington  almost it!
[code]
or
`vm.jsDate = new Date('2017-06-03T04:00:00')`

[2017-06-05 03:36] bhargavmullakuru commented on #109
@hexadecy  thank you for your reply..... i have added the dependencies to my code and added the tag in my html
 'ngMaterialDatePicker' this is the dependency i am using in app.js...

1.<link rel="stylesheet" href="lib/modules/angular-material-datetimepicker/material-datetimepicker.min.css">
2. AngularJS v1.3.13
3. Angular animate v1.3.13
4. angular-aria v 1.4.8
5. angular-material v1.1.0-rc1
6.i a

[2017-06-06 05:05] hexadecy commented on #109
@bhargavmullakuru since this commit https://github.com/logbon72/angular-material-datetimepicker/commit/fc51fcaa7c5abefa70ef09a0c3d4a9ca25efbb75, AngularJS 1.5.x is the minimum.
I wanted to implement the new $onInit lifecycle for AngularJS 1.6, there is also another workaround https://github.com/logbon72/angular-material-datetimepicker/issues/80. Can you update your dependencies ?

[2017-06-08 03:08] hexadecy commented on #109
@bhargavmullakuru fixed in my [fork](https://github.com/beenote/angular-material-datetimepicker) for you.
[code]

[2017-06-08 03:10] hexadecy commented on #80
https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$compile

[2017-06-08 07:59] bhargavmullakuru commented on #109
@hexadecy 👍 💯 :)  thank you ... it is now working fine

[2017-06-19 12:38] ptitdam2001 opened #110 "Webpack compatibility"
Hi!
It will be fun if the module is compatible with RequireJS/Webpack

[2017-06-19 18:35] trojan128 opened #111 "Display format"
Hi! I have date, stored on the server like this '2017-06-15 17:48:33.586+00' and want to display it in timepicker so when user wants to change it, he can easily do that. But my problem with format="HH:mm". When getting data from server its always set hous to 20, and minutes is correct. It could be fixed by format="YYYY-MM-HH:mm", but I'm need to show customers only time. How can I do that? Thanks

[2017-06-20 03:43] hexadecy commented on #110
Is this enough?

From PR #99
[code]

[2017-06-20 03:53] hexadecy commented on #111
Look like it's working for me, it set the hours to 13, because my current time zone is -4.
`$scope.time = new Date('2017-06-15 17:48:33.586+00');`
[code]

Your time zone is probably +3.
You should probably use https://www.w3schools.com/jsref/jsref_gettimezoneoffset.asp to know the client offset.

[2017-06-20 07:44] taras-vlasenko commented on #111
@hexadecy this what i got from server. And hour always 20, no matter what is in the moment object
![_175](https://user-images.githubusercontent.com/13509906/27322092-6da38f9e-55a5-11e7-85f5-5da3fa4fc939.png)

[2017-06-20 08:52] taras-vlasenko commented on #111
Ok, I'm fixed this. Just need to wrap data string from server into moment object
[code]

[2017-06-20 08:54] #111 closed

[2017-06-20 12:44] ptitdam2001 commented on #110
It looks like good!

[2017-06-24 04:02] hexadecy commented on #110
Ok please test [v1.6.6](https://github.com/beenote/angular-material-datetimepicker)

[2017-06-28 19:08] ptitdam2001 commented on #110
Hi,

I'm just testing 1.6.6 version using webpack.
It is OK when you do a `require('ng-material-datetimepicker');` but in general when you use require, it returns the name of module.

For example :
[code]
It fails because your constructor return nothing. You should return the variable moduleName value at the end of function ngMaterialDatePicker(moment), it will resolve the issue

[2017-06-28 19:18] dtruel opened #112 "Click outside to close not working"
Hello, and thank you so much for making this awesome date time picker!

I looked through the code and "clickOutsideToClose" is set to true, but for some reason, even in the demos here https://logbon72.github.io/angular-material-datetimepicker/ when you click outside, the dialog doesn't close.  Do you know why?

[2017-06-29 03:15] hexadecy commented on #112
Only the mdcDateTimeDialog Service have the clickOutsideToClose set to true.
We should probably expose this attribute and clickOutsideToClose : default false.
As normal user click outside by accident.

[2017-06-29 16:52] hexadecy commented on #110
@ptitdam2001 is this ok?

[2017-06-30 03:28] hexadecy commented on #85
Released in our [fork](https://github.com/beenote/angular-material-datetimepicker/tree/v1.6.7) v1.6.7

[2017-07-07 03:24] hexadecy commented on #62
Or in our [branch](https://github.com/beenote/angular-material-datetimepicker/tree/v1.6.7) release 1.6.7

[2017-07-20 13:09] patrick-sheehan opened #113 "Console.log in distribution"
In the distribution release, I get a console.log array printout of the available fields.
It is on /js/angular-material-datetimepicker.js line 229
Just wanting to have a clean console for my app's production

I love what you've been doing, and if I can help somehow, please let me know

[2017-07-23 03:50] hexadecy commented on #65
Since 1.7.0
https://github.com/beenote/angular-material-datetimepicker
minute-steps="1" and you have to select with mouse down / move or touch move.

[2017-07-23 04:22] hexadecy commented on #93
I fixed most of the issues / requests and more:
- 24 hours clock
- Mouse/touch move
- Nearest minute steps 1, 5, 10, 15 ...
- Seconds view clock

[2017-07-24 14:12] ptitdam2001 opened #114 "1.6.7 not working on Angular 1.5.9"
Hi,

My application is on angular 1.5.9 and it is not working, I have that message :

`
TypeError: Cannot read property 'createChild' of null
    at Object.link (webpack:///./node_modules/ng-material-datetimepicker/js/angular-material-datetimepicker.js?:160:50)
    at eval (webpack:///./node_modules/angular/angular.js?:1259:18)
    at eval (webpack:///./node_modules/angular/angular.js?:10089:44)

[2017-07-24 21:13] hexadecy commented on #114
Affect only the more advanced [fork](https://github.com/beenote/angular-material-datetimepicker).
Fixed in 1.7.1

[2017-07-25 14:25] ptitdam2001 commented on #114
Good for me! Thanks!

[2017-07-30 14:31] amittkSharma commented on #105
One can use the following npm datetimepicker for disabling all weekend:

https://www.npmjs.com/package/extended-datetimepicker

[2017-07-31 03:35] hexadecy commented on #105
Now you can with this release:
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.7.2

[2017-08-12 08:25] AruArshad opened #115 "Multi select Date"
Is there any possibility to select multiple dates using this method?

[2017-08-12 20:06] hexadecy commented on #115
Not with this project and I have no plan for that.

[2017-08-12 20:09] hexadecy commented on #14
@sampathkumar7 @facuxt please check my [fork](https://github.com/beenote/angular-material-datetimepicker).

[2017-08-12 20:12] AruArshad commented on #115
@hexadecy is there any other way?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-13 01:14] hexadecy commented on #115
https://github.com/arca-computing/MultipleDatePicker
In this project, ngModel is an array of moment dates.

https://github.com/spongessuck/gm.datepickerMultiSelect
Use bootstap
Also support range

[2017-08-13 04:22] AruArshad commented on #115
@hexadecy thanks bro! Already implemented.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-13 11:51] hexadecy commented on #115
Can you publish it in your fork please?

[2017-08-13 12:10] AruArshad commented on #115
@hexadecy Didn't use this method. Used another library. Thank you for your support buddy. ❤❤❤

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 07:42] SimonSimCity opened #116 "Language doesn't change when calling mdcDatetimePickerDefaultLocale.setDefaultLocale()"
In my current code I use `angular-translate` and tried to update the language of `ng-material-datetimepicker` when I update the language there.

    $rootScope.$on('$translateChangeSuccess', () => {
      const locale = $translate.use();
      mdcDatetimePickerDefaultLocale.setDefaultLocale(locale);

      $rootScope.locale = locale;
    });

This code updates the default locale in your factory wh

[2017-08-14 18:47] facuxt commented on #14
Thanks @hexadecy it looks very nice!!!

[2017-08-15 04:16] hexadecy commented on #116
As a workaround we use this: https://github.com/lgalfaso/angular-dynamic-locale and $localeChangeSuccess.

[2017-08-15 07:17] SimonSimCity commented on #116
@hexadecy and how do you hook this up with `angular-material-datetimepicker`? How do you tell this plugin that the locale has changed?

I've debugged it now and came down to the source. The main truth you need to face is, that

https://toddmotto.com/factory-versus-service#conclusion

If you now take a closer look at the code, you'll notice that `mdcDefaultParams`, the factory, used at every place

[2017-08-15 07:43] SimonSimCity commented on #116
@hexadecy can you please confirm if https://github.com/beenote/angular-material-datetimepicker is the successor of this repository?

[2017-08-15 08:03] SimonSimCity commented on #116
In the pull-request linked here, I've (based on the version `1.8.1` currently out on `npm`) refactored the service `mdcDefaultParams` to return a function. This allows to fetch the object every time again.

If you want, I can also rewrite it again in a way that `mdcDefaultParams` still returns an object, but I found this way much more flexible, because it allows users to manipulate every default p

[2017-08-15 10:16] SimonSimCity commented on #116
I can confirm that the work-around by https://github.com/lgalfaso/angular-dynamic-locale works and I guess it will remove all the default properties you once set in my new PR ... If that's true, it should be added as a warning when you take my implementation.

[2017-08-15 11:27] hexadecy commented on #116
Ok I'll check your PR. Yes I wanted to contribute to this repo, but our the version used by our organization is now more up to date.

[2017-08-15 13:04] SimonSimCity commented on #116
Or ... actually ... it's still open here ... 😄

[2017-08-15 13:30] hexadecy commented on #116
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.8.2

[2017-08-15 13:38] hexadecy commented on #104
@jekcom maybe this can be a workaround?
[code]
From [demo.js](https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/demo.js)

[2017-08-15 17:08] hexadecy commented on #102
Since [1.8.1](https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.8.1), change color when selecting hours, minutes or seconds.
[code]

[2017-08-16 14:53] hexadecy commented on #116
`mdcDatetimePickerDefaultLocale.setDefaultLocale()` will be deprecated, please use:
[code]

[2017-08-20 03:57] hexadecy commented on #62
The first part and the bigger one is built with md-dialog... I'm not sure if it's worth the time and effort.

[2017-08-23 15:41] naveendb92 opened #118 "Cannot enter date time manually"
On click, everytime opens a datetime picker.
1. Is it possible to enter the dates manually ?
2. Is it possible to clear the date that has been selected ?

[2017-08-24 10:52] Geoffrey-Dere commented on #104
Hello,
I have the same issue (format date don't update if we change the moment local (we have to change the date and it works)
Does anyone have a solution?

[2017-08-24 21:12] mdolega opened #119 "'multiple' - how to set"
Hi,

Is any possibility to set $mdDialog 'multiple' options directly from html?

I'm asking, beacase i dont have any possible to change that in your code manually.

[2017-08-25 04:26] hexadecy commented on #104
https://stackoverflow.com/questions/31706054/angularjs-dynamic-locale

[2017-08-26 00:45] hexadecy commented on #118
1. https://github.com/beenote/angular-material-datetimepicker
edit-input="true"
The button to open the picker have to be added.

2. Where you want the clear button, a X is ok? Normally I put a X button at then end of an input. I think IE and Edge put a x in the input sometime.

[2017-08-26 00:49] hexadecy commented on #119
**multiple** set in this fork : https://github.com/beenote/angular-material-datetimepicker
**ng-material-datetimepicker** on bower or npm

[2017-08-28 05:55] naveendb92 commented on #118
Yes. A small X button to clear the date would be fine I feel.

[2017-09-01 04:50] hexadecy commented on #118
@naveendb92 please have a look
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.8.5

[2017-09-04 08:20] SrengGueckly opened #120 "Use with dialog have a problem"
I have a form that will pop up when I click on create button, but when I click on mdc-datetime-picker in that form , this form closes automatically, how to solve it?

[2017-09-04 13:41] hexadecy commented on #120
In this version 'skipHide' is used, but it have been deprecated in AM. Now they use 'multiple'.
Duplicate of #119.

[2017-09-06 20:41] oversio commented on #22
Is it possible that this feature has been eliminated?
to me it does not work after I have updated the component...

somebody can help me?

[2017-09-07 00:11] hexadecy commented on #22
@oversio it has been merged long time ago.
@ViDaNgEr and I are working for Beenote, our fork is one year more advanced than this one.
https://github.com/beenote/angular-material-datetimepicker

[2017-09-07 03:44] hexadecy commented on #22
@oversio The ng-change is only used in the directive, not the service. And it called once if the date is not the same when the dialog close.

[2017-09-19 16:43] TheSassyGourmet opened #121 "If opened from a modal, the timepicker dialog opens behind the calling modal."

[2017-09-20 01:02] hexadecy commented on #121
Use this fork: https://github.com/beenote/angular-material-datetimepicker
This one is not actively maintened anymore.

[2017-09-20 07:59] bhargavmullakuru opened #122 "getting invalid dates after saving and opening"
i am getting date "2017-09-12T18:30:00.000Z" from the service response ...it is showing "13 sep 2017" in input field ...but if user wants to change the date...while opening ..it is showing as Invalid da
![datepicker error for 0 s date](https://user-images.githubusercontent.com/26109320/30633002-b2fb4f28-9e07-11e7-85fd-b29c8bee572e.png)
tes

[2017-09-26 00:10] hexadecy commented on #122
Probably an old version of one dependency.

[2017-10-18 19:57] articobandurini opened #123 "Display in Local Timezone"
Module seems to save dates in local time, but displays in UTC, which I believe incorrect and causes issue when date changes after saving if your browser and server are in different time zones.

[2017-10-20 02:42] hexadecy commented on #123
By default, moment parses and displays in local time. // 2017-10-19T10:35:24-08:00
But your server and javascript object should/must be in UTC. Your can use [getTimezoneOffset()](https://www.w3schools.com/jsref/jsref_gettimezoneoffset.asp) to pass the value to the server when you can't use the web browser to display the datetime.

[2017-10-20 09:00] art1c0 commented on #123
I provide an example:
Imagine I set datetimepicker to 20th of October 14:00 (I am in the GMT+2 timezone).
When this date is being converted to JSON it becomes UTC: "2017-10-20T12:00:00.549Z" - this is correct value which is sent to the server. It is still the same moment in time.
Then in reading mode the same exact value is coming from the server "2017-10-20T12:00:00.549Z" - and the browser is sti

[2017-10-20 13:56] hexadecy commented on #123
Which javascript REST lib are you using?
moment.js 2.18.1 and other deps version?
I'm using angular-resource 1.6.6 that auto transform with angular.fromJson and I don't have the issue you described.

[2017-11-27 13:45] michellehorn commented on #26
I solved just by putting the moment.js  before the bootstrap-material-datetimepicker.js in the bundle file

[2017-12-01 08:16] harshpbatham opened #124 "There is slot of 5 min gap in time picker suppose i want to select 22 min there is no option. is there any availability ??"

[2017-12-06 05:14] naveendb92 commented on #118
@hexadecy first of all sorry for the late reply.
Thank you so much for adding the feature. Really appreciate your effort to resolve the user queries.

[2017-12-06 05:14] #118 closed

[2017-12-13 05:16] hexadecy commented on #124
With this fork: https://github.com/beenote/angular-material-datetimepicker
`minute-steps="1"`

[2017-12-13 16:21] georgeportillo commented on #26
@bennekrouf, my man.

Thank you sir. Your suggestion worked for me.

What does it do?

[2018-01-27 13:56] PhilDore11 opened #125 "Support for ng-model-options timezone"
Issue: Date is always displayed in local time
Expected: ng-model should respect the ng-model-options

Code:
<input mdc-datetime-picker date="true" time="false" type="text" format="MM/DD/YYYY Z" show-todays-date ng-model="date" ng-model-options="{ timezone: 'utc' }" />

[2018-01-28 03:54] hexadecy commented on #125
@PhilDore11 yes it should, but the end result you want is a js date shifted to local utc or a moment utc?

I've made a special case when the ng-model is a moment utc.
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v.1.11.0

[2018-01-29 04:05] hexadecy commented on #125
Can you have a look? before I make a version of it.
https://github.com/beenote/angular-material-datetimepicker/commit/77d4ccd0fcf188c5fdfc17dbd71b76c721a37c1d

You need at least angular 1.6

[2018-02-08 20:48] ajmueller commented on #125
@PhilDore11 @hexadecy this is such perfect timing as I really needed this in a project I'm working on.  So thank you!!!

To help test, I've created a couple Plunkers to make sure this works and it seems to be working as expected.  Here are the links:

1. [Hard-coded Timezone](http://plnkr.co/xIVZ5xjWAvc6xHUwL2hr) - this uses hard-coded timezone values of UTC for the `ng-model-options`.  I also inc

[2018-02-09 03:50] hexadecy commented on #125
@ajmueller I added the Hard-coded Timezone test.
You can run this project with nodejs lite-server and play with the index.html file if you like.
Pre-release: https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.12.0

I normally remove the pre-release tag when I see no apparent bug in our dev/qa environment of Beenote.

[2018-02-09 15:42] ajmueller commented on #125
@hexadecy it looks like the `exSourceCode` directive needs to be updated with `ng-model-options` support, unless I'm reading something wrong.  Running the project at the v1.12.0 tag locally gives me this:

![image](https://user-images.githubusercontent.com/1442179/36035925-41d038f6-0d6d-11e8-8a9f-d3c9a66868d3.png)

The example itself is working just fine, though.

[2018-02-10 04:14] hexadecy commented on #125
Ok fixed here: https://github.com/beenote/angular-material-datetimepicker/commit/d249b57031a30118d3569562db0ff4063ccb9962

[2018-02-10 04:39] hexadecy commented on #125
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.13.0

[2018-02-10 04:44] hexadecy commented on #123
You can now force the timezone by adding this in the html: `ng-model-options="{timezone: 'utc'}"` or
`ng-model-options="{timezone: '+0200'}"`
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.13.0

[2018-02-20 12:20] pianetarosso opened #126 "On ipad inside mdDialog multiple touch closes both popups"
Hi, we have an ipad with IOS 11, the picker is showed from a form inside an $mdDialog.
The picker has date and time selection
When touching rapidly the "ok" button of the picker, both dialogs are closed.
Do you know which could be the issue?

Thank you

[2018-02-26 03:53] hexadecy commented on #126
Which browser, Safari 11? also complete dependencies versions please.

[2018-02-27 12:18] ErickXavier opened #127 "If opened from a modal it goes outside the browser"
Hi,

I'm using AngularJS 1.6.9, Angular Material 1.1.7 and Angular Material Datepicker 1.5.1. Everytime I open the Datepicker from inside a modal, it shows with part of it outside the browser, on the top, always with top: 0px.

[2018-03-02 18:49] hexadecy commented on #127
@ErickXavier please mare sure you use at least version Angular Material Datepicker 1.13.0 from my fork: https://github.com/beenote/angular-material-datetimepicker. Which browser is that?

[2018-03-02 20:00] ErickXavier commented on #127
Ok, thanks!

I'm using Chrome with this theme:
https://chrome.google.com/webstore/detail/material-incognito-dark-t/ahifcnpnjgbadkjdhagpfjfkmlapfoel

[2018-03-03 03:04] hexadecy commented on #127
`md-dialog` normally open at the center of the screen.

Maybe, you can supply your own CSS to override the default ones.

[code]

[2018-04-19 12:29] biswas123 opened #128 "Date picker + time picker opens like 2 seconds after pressing on input field, very slow on mobile device"
Date picker + time picker opens like 2 seconds after pressing on input field, very slow on mobile device

[2018-04-22 17:26] jpike88 opened #129 "There's a hanging console.log"
https://github.com/logbon72/angular-material-datetimepicker/blob/307054486aec110fe6387a9ad86a9e91cb226a27/js/angular-material-datetimepicker.js#L229

[2018-04-23 12:51] hexadecy commented on #129
Duplicate of #113
Fixed long time ago in our fork:
https://github.com/beenote/angular-material-datetimepicker

[2018-04-23 13:06] hexadecy commented on #128
- How long did you put for min-date and max-date? 3 years may be enough.
- Which device, browser, os, deps versions (angular, angular-material)?
- I know window.getComputedStyle can be slow, but changing that can be a breaking change for some.

Also logbon72 repo is dead for 2 years, please try my latest version:
https://github.com/beenote/angular-material-datetimepicker

[2018-04-23 13:19] jpike88 commented on #129
awesome, cheers!

[2018-04-26 02:24] GurumurthyPana commented on #109
I am getting above mentioned error, still

[2018-04-26 02:49] hexadecy commented on #109
You have to use the more recent fork: https://github.com/beenote/angular-material-datetimepicker

[2018-04-26 06:14] GurumurthyPana commented on #109
I am using ionic1 and supported angular version 1.4
recent one ng-material-datetimepicker only installed into my project, but not supported, Below mentioned installed details

-- ng-material-datetimepicker@1.15.0
  +-- angular@1.6.10
  +-- angular-animate@1.6.10
  +-- angular-aria@1.6.10
  +-- angular-material@1.1.8
  `-- angular-messages@1.6.10

[2018-04-26 07:31] GurumurthyPana commented on #109
sorry, I updated file not reached into my asset folder, that's why I am getting the same status, now I resolved, Thank you for your reply.

[2018-04-29 17:14] #93 closed

[2018-04-29 17:15] #107 closed

[2018-05-02 11:46] ErickXavier commented on #127
That's what I did.

[2018-05-02 13:23] hexadecy commented on #127
Does that solved the issue?
I think changing the included CSS will maybe break some other use case.

[2018-05-13 08:49] rahulgadhyan opened #130 "Unable to select end date when using date range in a specific case"
I am using start date and end date selection range with following condition:
1) end date cannot be less than start date

If the current system time is in AM, say 13/05/2018, 09:00 AM and i want to select date range as 12/05/2018-10:00PM to 12/05/2018-11:00PM.

After Selecting start date-time as 12/05/2018-10:00PM, i am not able to select end date-time as 12/05/2018-11:00PM because when I open the

[2018-05-16 00:26] hexadecy commented on #130
Can you paste some template code and why the end date-time is set to today?

[2018-05-17 14:05] rahulgadhyan commented on #130
this is how the code is handled in html:

<ul>
    <li class="row date-size">
        <md-input-container flex-gt-md="90" class="dateInput date-size">
            <input mdc-datetime-picker=""
                   date="true" time="true" short-time="true"
                   type="text" id="startDate"
                   placeholder="{{ 'STARTTIME' | translate }}"
show-todays-date=""

[2018-05-18 03:39] hexadecy commented on #130
What version are you using? v1.15.1 ?

I tried to reproduce it with you code, but it's working as I think it should.
1. I set manually my system time to 17/5/18 - 9:00 AM
2. start: 16/5/18, 10:00 PM
3. end: 16/5/18, 11:00 PM
4. go to change end again, but I clicked "today"
5. Then change date to 16/5/18 and the time stay at 9:00 AM
6. Cannot change time, but I can click on PM circle
7. Then I can

[2018-05-30 20:18] hexadecy commented on #130
@rahulgadhyan have you found something?

[2018-06-05 12:46] rahulgadhyan commented on #130
Hi Michel,

I was busy with some other portion of our code. I shall try to work as
directed this week. If the issue persists, I shall record the video and
share it with you

Thanks a lot for your time and effort

Regards
Rahul

On Thu, May 31, 2018 at 1:48 AM, Michel Couillard <notifications@github.com>
wrote:

[2018-07-04 02:55] hcbelias commented on #93
@hexadecy  I would like to implement minute-steps directive. How can I start?

[2018-07-04 03:17] hexadecy commented on #93
Name | Type | Description
-- | -- | --
minute-steps | Number | 1 to 59 minute steps (default: 5)

You can use our fork:
https://github.com/beenote/angular-material-datetimepicker

[2018-10-06 16:12] cari22 opened #132 "Open Calendar without modal"
There is some attribute so that it does not open only in a modal?

[2018-10-08 14:45] hexadecy commented on #130
Yes @rahulgadhyan  you can record a video with something like Screencastify.
And add many info as you can on how to reproduce it.

[2018-10-08 14:48] hexadecy commented on #132
Duplicates #62

[2018-10-13 14:32] joelmm1 commented on #51
Scrolling to previous months is not possible

[2018-10-13 15:38] hexadecy commented on #51
@joelmm1 this issue is closed...

[2019-02-11 21:21] hexadecy commented on #130
I fixed this in https://github.com/beenote/angular-material-datetimepicker/issues/54.